html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin-left: 2%;
  color: orangered;
  font-size: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid black;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

button {
  font-size: 1rem;
}

div.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 70%;
}

button.order-button {
  /* display: flex;
  justify-content: center; */
  width: 70%;
}

#pizza-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  border: 2px solid black;
  padding-left: 5%;
  margin: 0 20%;
  padding-bottom: 3%;

}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}
